[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
flask-cors = "==3.0.7"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
