$paragraph-font: 'Montserrat', sans-serif;

.custom_button {
    background-color: #440404;
    color: #F8F5F5;
    border-radius: 4px;
    font-size: 18px;
    padding: 1.2em 2.5em;
    margin-top: 5px;
    font-family: $paragraph-font;
    border: none;

    @media screen and (max-width: 800px) {
        font-size: 14px;
    }
    &:hover {
        cursor: pointer;
    }
}